@media only screen and (max-width: 1275px) {
  .songs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .song-items {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
  }
  #img-main {
    float: none;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .navbar {
    justify-content: center;
  }
  .nav-list li a {
    padding: 1.2rem;
  }
  .sec-img {
    padding: 3rem 2rem;
  }
  .ari-img {
    width: 40rem;
  }
  #ari-award-div {
    padding: 2rem 2rem 1rem 2rem;
  }
  #ari-award {
    width: 40rem;
  }
}
@media only screen and (max-width: 850px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6.5rem;
  }
  .nav-list li {
    padding: 1rem;
    font-size: larger;
    align-items: center;
  }
  .navbar {
    float: none;
    background-color: #0009;
    transition: all 0.7s ease-out;
    font-size: x-large;
    height: 34em;
    width: 100%;
  }
  .nav-list li {
    text-align: center;
    display: block;
  }
  .nav-list li a {
    color: #eee;
  }
  .burger {
    padding-top: 0.1em;
    display: block;
  }
  .nav-resp {
    height: 2.5em;
  }
  .class-resp {
    opacity: 0;
  }
  #theme-options {
    float: none;
    text-align: center;
    padding: 1rem;
  }
  .theme-dot {
    padding: 1rem;
    margin: 1rem 0.5rem;
  }
  .sec-img {
    padding: 3rem 2rem;
  }
  .ari-img {
    width: 23rem;
  }
  #ari-award-div {
    padding: 2rem 2rem 1rem 2rem;
  }
  #ari-award {
    width: 23rem;
  }
  #img-main {
    width: 12.5rem;
    height: 12.5rem;
    margin: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .ari-img {
    width: 20rem;
  }
  #ari-award {
    width: 20rem;
  }
}
@media only screen and (max-width: 500px) {
  .ari-img {
    width: 15rem;
  }
  #ari-award {
    width: 15rem;
  }
  .first-sec,
  .second-sec,
  .third-sec,
  .fifth-sec {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .fourth-sec {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .song-items {
    width: 75%;
  }
  #title {
    font-size: 4rem;
  }
  h2,
  h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 300px) {
  .ari-img {
    width: 12rem;
  }
  #ari-award {
    width: 12rem;
  }
  .first-sec,
  .second-sec,
  .third-sec,
  .fourth-sec,
  .fifth-sec {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #img-main {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
}
