@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
  --themeColor: rgb(240, 238, 238);

  --mainText: black;
  --secondaryText:#232323;

  --fontMainText: "Libre Baskerville", serif;
  --fontSecondaryText: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #aa1111;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
body section{
  transition: 0.3s;
}
.navbar {
  background: #0003;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.nav-list {
  list-style: none;
  padding: 0.5em 0;
}
.nav-list li{
  display: inline;
}
.nav-list li a {
  text-decoration: none;
  color: var(--mainText);
  padding: 0 1em 0 1em;
}
.nav-list li a:hover {
  color: rgb(255, 255, 0);
}
#theme-options {
  float: right;
  padding: 0 1rem 0 1rem;
}
.theme-dot {
  cursor: pointer;
  display: inline-flex;
  margin-top: 0.25rem;
  width: 1rem;
  height: 1rem;
  padding: 0.3rem;
  border-radius: 50%;
}
#light-mode {
  background-color: #eee;
  border: 1px solid #232323;
}
#dark-mode {
  background-color: #232323;
  border: 1px solid #eee;
}
h1 {
  font-family: var(--fontMainText);
  font-size: 6rem;
  padding: 1rem;
  font-weight: bold;
}
h2 {
  color: var(--mainText);
  font-family: var(--fontMainText);
  font-size: 3rem;
  padding: 5rem 1rem 2rem;
}
h3 {
  font-family: var(--fontMainText);
  font-size: 2rem;
  padding: 2rem 1rem 2rem;
}
#subheader {
  color: rgb(255, 251, 0);
  font-family: var(--fontMainText);
  font-size: large;
  text-transform: uppercase;
  padding: 0 1rem 2rem 1rem;
}
.para {
  padding: 1rem;
}
.container {
  padding: 5rem 2rem 5rem 2rem;
}

.first-sec {
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  padding: 2rem 4rem 8rem 6rem;
}
.second-sec {
  color: var(--secondaryText);
  background-color: var(--themeColor);
  padding: 2rem 6rem 8rem 6rem;
}
.third-sec {
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  padding: 2rem 6rem 8rem 6rem;
  color: black;
}
.fourth-sec {
  background-color: var(--themeColor);
  padding: 2rem 4rem 8rem 4rem;
}
.fifth-sec {
  background-color: gold;
  padding: 2rem 6rem 8rem 6rem;
  background-image: linear-gradient(#ffcc00, #ffd800);
}
#img-main {
  float: right;
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 30%;
  border: 0.75rem solid rgb(2, 2, 34);
  margin: 1rem 1rem 2rem 4rem;
}
.img-div {
  padding-top: 1rem;
}
a {
  text-decoration: none;
}
iframe {
  width: 300px;
  height: 200px;
}
.footer {
  color: black;
  background-color: #aa1111;
  background-image: linear-gradient(#aa1111, #ce0000);
  text-align: center;
  padding: 6rem 2rem 3rem;
}
#intro-para {
  padding: 2rem 4rem 0 0;
}
.bio-heading {
  text-align: center;
}
.awards {
  padding: 1.5rem 1.5rem;
}
#awards-main-heading {
  color: #000;
  text-align: center;
  padding: 1rem;
}
.awards-heading {
  padding: 1.5rem 0;
  font-family: "Poppins", sans-serif;
}
.songs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.song-items {
  color: var(--secondaryText);
  margin: 0 1rem;
  padding: 0.1rem 2.5rem;
  font-family: sans-serif;
}
.center-headings {
  text-align: center;
}
#tribute-link {
  color: rgb(248, 201, 98);
  margin-left: 1rem;
}

#tribute-link:visited {
  color: rgb(248, 201, 98);
}
#tribute-link-dash {
  text-decoration: none;
}
.up {
  color: rgb(255, 0, 0);
  background-color: var(--themeColor);
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.125em 0.3em 0.125em 0.3em;
  border-radius: 50%;
}
.up:hover {
  color: var(--themeColor);
  background: rgb(255, 0, 0);
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}
.sec-img {
  padding: 5rem 2rem;
}
.ari-img {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 0 1.5rem;
  width: 50rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ari-award-div {
  padding: 2rem 2rem;
}
#ari-award {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}
.right-nav {
  background-color: rgba(128, 128, 128, 0.5);
  /* background-color: green; */
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  margin: 4rem 2rem 0 2rem;
  opacity: 1;
}

#search-bar{
  max-width: 70rem;
  /* background-color: blue; */
  margin: auto;
}

input {
  all: unset;
  color: var(--secondaryText);
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
::placeholder {
  color: #00000081;
  /* opacity: 0.8; */
}

button {
  all: unset;
  cursor: pointer;
  width: 2.75rem;
  height: 2.25rem;
  border-radius: 50%;
  margin: 0.5rem;
}
.card{
  max-width: fit-content;
  max-height: fit-content;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 50px 5px rgba(0,0,0,0.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 50px 5px rgba(0,0,0,0.5); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 50px 5px rgba(0,0,0,0.5); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.navbar{
  z-index: 1;
}